#community {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px 0;

  h2 {
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;
  }

  > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: baseline;
    gap: 30px;
    align-self: stretch;
    

    > div {
      width: 250px;
      height: 400px;
      padding-top: 30px;
      position: relative;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      background-color: #008080;
border-radius:  500px 500px 0 0;

      img {
        height: 100%;
        width: 100%;
        align-self: end;
        margin-top: 0px;
        overflow: hidden;
        object-fit: cover;
      }

      span {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
        color: white;
        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-self: end;
        justify-content: flex-end;
        font-weight: normal !important;
      }
    }
  }
}
