[data-aos] {
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-aos="fade-up"] {
  transform: translate3d(0, 50px, 0);
}

[data-aos="fade-down"] {
  transform: translate3d(0, -50px, 0);
}

[data-aos="fade-left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-aos="fade-right"] {
  transform: translate3d(50px, 0, 0);
}
