
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 16px !important;
    margin-bottom: 20px;
    min-width: 250px;
    max-width: 500px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    width: 90%;
    color: white;
  }

  .btn {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }

  form {
    display: flex;
    align-items: center !important;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    input,
    select,
    textarea {
      width: 92%;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
      background-color: #23232300;
      color: white;
    }
    .btn {
      padding: 15px 20px;
      font-size: 16px;
    }
    ::placeholder {
      color: #c9c9c9;
    }

    textarea {
      width: 92%;
    }

    textarea {
      resize: none;
    }
  }

  @media screen and (max-width: 400px) {
    form {
      input,
      select,
      textarea {
        width: 90%;
      }
    }
  }
}