footer {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  background-color: #039357;
  color: white;
  flex-wrap: wrap;
  padding: 0px 6vw;
  h2 {
    display: flex;
    font-size: 30px;
  }
  div {
    width: 40%;
    min-width: 260px;
    padding: 4vw 20px;
    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 10px;

      svg {
        width: 30px;
        height: 30px;
        fill: white;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    h2 {
      justify-content: center;
    }
    div {
      width: 100%;
      padding: 20px 0;
      .icons {
        justify-content: center;
      }
      span {
        justify-content: center;
      }
    }
  }
}
