header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url("../images/background.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 90vh;
  
  .header-content {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    h1 {
      font-size: clamp(0.2rem, 15vw, 5rem);
      font-weight: 1200;
      color: white;
      height: min-content;
      line-height: 1;
      display: flex;
      text-align: center;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    p {
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      font-weight: 300;
      color: white;
      cursor: pointer;
      text-align: center;
      width: 80%;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (max-width: 600px) {
    .header-content {
      width: 100%;
      h1 {
        width: 100%;
        font-size: clamp(0.2rem, 15vw, 3rem);
      }
      p {
        width: 100%;
        font-size: clamp(1rem, 1.5vw, 1rem);
      }
    }
    img {
      height: 60vh;
    }
  }
}
