.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 7vw 20px;
  color: white;
  .top {
    h2 {
      font-size: 50px;
      line-height: 1.2;
    }
    p {
      font-size: 20px;
      color: gray;
    }
  }

  .bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    div {
      min-width: 270px;
      width: 20%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .count {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
        background-color: #039357;
        aspect-ratio: 1/1;
        line-height: 0.9;
        width: 70px;
        border-radius: 50%;
        margin-bottom: 10px;

        animation: up_down 2s infinite;
      }

      h3 {
        font-size: 30px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
      }
      &:hover {
        transform: translateY(-10px);
        transition: all 0.3s ease;
      }
    }
  }
}
