.about2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 130px 30px;
  scroll-snap-align: start;

  .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    height: 100%;
    
    .img1 {
      top: 40px;
      left: 10px;
      object-fit: cover;
      z-index: 1;
    }
  }
  .content {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    span {
      font-size: 15px;
      color: white;
      padding: 10px 20px;
      background-color: #034dafaa; /* 004aad */
      background-color: #034dafaa; /* 004aad */
      opacity: 1;
      border-radius: 10px;
    }
    h1 {
      font-size: 60px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      line-height: 1.5;
    }

    button {
      background-color: #004aad;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 10px;

      &:hover {
        background-color: #004badd6;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .about2 {
    .content {
      text-align: start !important;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .about2 {
    flex-direction: column;
    height: auto;
    padding: 50px 0;

    .img {
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      position: relative;
      height: 100%;
      
      .img1 {
        top: 40px;
        left: 10px;
        width: 80% !important;
        object-fit: cover;
        z-index: 1;
      }
    }

    .content {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .about2 {
    .content {
      text-align: start !important;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
