.pakages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  gap: 10px;
  background-color: #004aad;
  color: white;

  span {
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    opacity: 0.88;
    border-radius: 10px;
    text-align: center;
  }
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    max-width: 1000px;
    text-align: center;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    gap: 40px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 400px;

      i {
        font-size: 30px;
        color: white;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .pakages {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}
