.statics {
  display: flex;
  align-items: center !important;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 130px 30px;
  scroll-snap-align: start;

  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    width: 80%;
    text-align: center;
  }

  button {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;

    &:hover {
      background-color: #004badd6;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;

      img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
      }
      p {
        font-size: small;
      }
    }
  }
}
