.col {
  display: flex;
  align-items: center !important;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 30px;
  scroll-snap-align: start;

  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    width: 80%;
    text-align: center;
  }

  button {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;

    &:hover {
      background-color: #004badd6;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;

      img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
      }
      p {
        font-size: small;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .about {
    .content {
      text-align: start !important;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 50px 0;

    .img {
      width: 100%;
      height: 300px;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
      .img1 {
        top: 50px;
        left: 0%;
        width: 30%;
        z-index: 10;
      }
      .img2 {
        top: -10px;
        left: 30%;
        width: 20%;
        z-index: 9;
      }
      .img3 {
        top: 30px;
        top: 30px;
        left: 50%;
        z-index: 10;
        width: 30%;
      }
      .img4 {
        top: 50px;
        left: 80%;
        width: 20%;
      }
    }

    .content {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .about {
    .content {
      text-align: start !important;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
