header {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: hidden;
  justify-content: center;

  h1 {
    position: absolute;
    left: 50%;
    top: 20%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
  }
  .side {
    padding: 30px;
    align-self: flex-end;
    height: 50vh;
    justify-content: start;
  }
  .right {
    align-items: flex-end;
    padding-top: 50px;
    h2 {
      margin-top: 10px;
      font-size: 60px;
    }
    p {
      margin-bottom: 10px;
      font-style: 20px;
    }
    > div {
      align-self: flex-end;
      display: flex;
      gap: 10px;

      .bi-star-fill {
        color: #f7a901;
        font-size: 30px;
      }
    }

    .line {
      width: 200px;
      border: 2px solid #f7a901;
    }
  }
  section {
    width: 33%;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    gap: 0;

    /* *{
        border: 1px solid red;
        
    } */

    h2 {
      font-size: 50px;
      line-height: 1;
    }

    i {
      font-size: 100px;
      line-height: 0.9;
    }

    img {
      height: 80vh;
      align-self: end;
    }

    .circle {
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background-color: #f7a901;
      position: absolute;
      left: 50%;
      bottom: -100px;
      transform: translatex(-50%);
      z-index: -1;
    }

    p{
      font-style: 20px;

    }
  }
}
