#services {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color: black;
  border-radius: 20px;
  width: 100%;
  padding: 50px;
  gap: 40px;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 60px;
    }
  }

  main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    div {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: start;
      color: white;
      border-radius: 20px;
      padding: 40px;
      text-align: center;
      background-color: black;
      gap: 30px;


      /* clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 80%, 80% 100%, 0 100%); */

      position: relative;
      .icons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        h3 {
          font-size: 30px;
          margin-bottom: 10px;
        }

        i {
          align-self: end;
          background-color: #f2f2f2;
          padding: 10px;
          color: black;
          line-height: 1;
          border-radius: 20px;
          font-size: 30px;
          font-weight: bold;
          z-index: 10;
          border: 2px solid #f2f2f2;
        }

        i:hover {
          color: white;
          background-color: black;
          transition: all 0.3s ease-in-out;
          border: 2px solid white;
        }
      }

      img {
        width: 100%;
        aspect-ratio: 1.5/1;
        object-fit: cover;
        border-radius: 10px;
        /* margin-top: 20px; */
        /* box-shadow: 0px -10px  12px 0px rgba(255, 255, 255, 0.429); */
      }
    }
  }
}
