.Courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;

  h1 {
    font-size: 3rem;
    line-height: 1;
    color: #006eda;
    text-transform: uppercase;
    text-align: center;
  }

  .course-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    a {
      width: 30%;
      min-width: 290px;
      img {
        width: 100%;
        border: 2px solid #ffffff;
        border-radius: 12px;
        box-shadow: 0 2px 4px #1e8fff3b;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 0 6px 12px #1e8fff6c;
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }
  }
}
