.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  h1 {
    font-size: 3rem;
    line-height: 1;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
  }

  section {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    > div {
      width: 30%;
      aspect-ratio: 16/9;
      border: 2px solid #ffffff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 2px 4px #1e8fff3b;
      position: relative;
      img {
        width: 100%;
      }

      > div {
        position: absolute;
        transition: all 0.3s ease;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0.94);
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          padding: 0 10px;
        }
        p {
          padding: 2px 10px;
          font-size: small;
        }
        a {
          color: white;
          padding: 0 10px;
        }
      }
    }
    > div:hover {
      div {
        top: 50%;
      }
    }
  }
}
