
.cta {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .cta-background {
    background-color: rgb(218, 218, 218);
    
    height: 45vh;
    width: 90vw;
    border-radius: 50px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    h2 {
      color: #333;
      font-size: clamp(2rem, 4vw, 3rem);
      font-weight: 600;
      font-family: "Fjalla One", sans-serif;
      line-height: 1;
      text-align: center;
    }
    p {
      color: #1d1d1d;
      font-size: clamp(16px, 1.5vw, 20px);
      font-weight: 300;
      text-align: center;
    }
    .btn {
      text-decoration: none;
      margin-top: 20px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  background-color: #713274;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  padding: 20px 6vw;

  h2 {
    display: flex;
    font-size: 30px;
  }
  div {
    width: 40%;
    min-width: 300px;
    padding: 4vw 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;

    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .icons {
      margin-top: 20px;
      .bi {
        color: #000000;
        background-color: white;
        padding: 9px 10px;
        border-radius: 50%;
      }
    }
  }
}
