@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
  font-family: "Agrandir-Wide-Light";
  src: url(../fonts/Agrandir-Wide-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Agrandir-Wide-Bold";
  src: url(../fonts/agrandir-wide-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat\ Light.otf) format("opentype");
}

:root {
  --primary-color: #713274;
  --secondary-color: #fff9ff;
  --accent-color: #1e2133;
  --text-color: #713274;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "TikTok Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #fff9ff;
scroll-behavior: smooth;
  color: #713274;
}
body {
  width: 100%;
  overflow-x: hidden !important;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

h1,
h2 {
  font-family: "Agrandir-Wide-Bold", sans-serif;
}

p,
b,
span {
  font-family: "Montserrat-Light", sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
}

.btn {
  padding: 10px 20px;
  background-color: #713274;
  color: #fff9ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat-Light", sans-serif;
  transition: all 0.3s ease;
  text-decoration: none;
}