main {
  background: url("../used_Images/header.png") no-repeat left center/cover;
  height: 110vh;
}
nav {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 10px 2vw;
  font-size: 20px;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      margin-right: 10px;
      position: relative;
    }
    h1 {
      font-size: clamp(20px, 5vw, 30px);
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-family: "montserrat", sans-serif;
    font-size: 16px;

    a{
      color: #713274;
      text-decoration: none;
    }
  }
  .nav-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #713274;
  }
  @media screen and (max-width: 900px) {
    span {
      img {
        width: 30px;
        margin-right: 10px;
        position: relative;
      }

      h2 {
        font-size: 25px !important;
      }
    }

    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      background-color: #ececec;
      padding: 20px 40px;
      text-align: right;
      width: fit-content;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
      border-radius: 10px;
      z-index: 10000 !important;
    }

    .btn {
      display: none;
    }

    .nav-icon {
      display: block;
    }
  }
}
